body{

	background-color: #f8f8f8;

}

.book-library{

	background-color: #ffffff;

}

.author{

	color: #777777;

}
--------------css-------------------
.price{

	background-color: #2ecc71;

}

.book{

	background-color: #f8f8f8;

}

.book-description{

	color: rgb(255, 255, 255);

	background-color: rgb(46, 204, 113);

}